/*
 * This file is part of Chronos.  The LICENSE file at the top level of
 * this repository contains the full copyright notices and license terms.
 */
@media screen and (min-device-width: 768px) and (max-width: 768px) {
    body {
        height: 600px;
        width: 400px;
    }
}

body {
    padding-top: 50px;
}

.navbar {
    margin-bottom: 0px;
}

#selectEmployee {
    height: 48px;
    display: initial;
    width: auto;
}

#date {
    cursor: pointer;
}

#lines {
    table-layout: fixed;
}

#duration {
    width: 20%;
}

#lines > tbody > tr {
    cursor: pointer;
}

#lines > tbody > tr > td:first-child,
#lines > tfoot > tr > th:first-child {
    text-align: right;
}

#lines td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-circle {
    border-radius: 15px;
    font-size: 12px;
    height: 30px;
    line-height: 1.42857;
    padding: 6px 0;
    text-align: center;
    width: 30px;
}

.btn-circle.btn-lg {
    border-radius: 25px;
    font-size: 18px;
    height: 50px;
    line-height: 1.33;
    padding: 10px 16px;
    width: 50px;
}

.btn-circle.btn-xl {
    border-radius: 35px;
    font-size: 24px;
    height: 70px;
    line-height: 1.33;
    padding: 10px 16px;
    width: 70px;
}

.fixed-bottom {
    position: fixed;
    right: 20px;
    bottom: 20px;
    left: unset;
}
